/* Smartphone */
@media screen and (max-width: 360px) {

  div.barmenu{
    padding: 0px 20px 0px 10px !important;
  }

  div.barmenu p{
    font-size: 13px !important;
    padding-top: 15px !important;
  }

  div.rigthpanel #contacts {
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 1259px) {
    
  .rigthpanel{
    position: absolute !important;
    display: none;
    top: 0px !important;
    right: 0px !important;
    z-index: 1000 !important;
    width: 50px;
    opacity: 0;   
  }

  #sidepanel div.wrap img{
    margin-top: 10px;
  }

  #sidepanel #contacts{
    margin-top: 40px ;
  }

  div.rigthpanel #contacts{
    margin-top: 30px !important;
  }

  div.rigthpanel #contacts {
    height: calc(100% - 160px) !important;
  }

  .rigthpanel ul li.contact{
      padding: 5px !important;
  }

  div.rigthpanel #contacts ul{
    margin-top: 0px !important;
  }

  div.rigthpanel .input-group{
    margin-left:  20px !important;
  } 

  div.barmenutop{
    float: right;
    margin-right: 20px;
  }
  
  div.barmenu p{
    font-size: 14px;
  }

}

@media screen and (min-width: 1260px) {
  .rigthpanel {
    display: block;
    float: right !important;  
    min-width: 0px !important;
    width: 340px !important;
  }
    
  #frame .content {
    float: left;
    width: calc(100% - 680px);
  }
    
  div.barmenutop button{
   display: none ;
  }

  div.barmenu button{
   display: none ;
  }
}

div.barmenu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 20px 0px 20px;
}

div.barmenu p{
  margin: 0px !important;
}

div.barmenu button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

div.barmenutop button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

div.rigthpanel #contacts ul{
  margin-top: 50px;
  transform: rotateY(180deg);
  margin-left: 10px;
} 

div.rigthpanel #contacts{
  width: 100%;
  padding-left: 15px;
} 

div.rigthpanel #contacts ul li div.wrap{
  transform: rotateY(180deg);
}

div.rigthpanel #contacts ul p:first-child{
  margin-top: 0;
}

div.rigthpanel #contacts ul p{
  transform: rotateY(180deg);
  margin-bottom: 5px;
  margin-top: 30px;
}

div.rigthpanel .input-group{
  margin-left:  5px;
}




