

@media screen and (max-width: 1259px) {
    
  .rigthpanel{
    position: absolute !important;
    display: none;
    top: 0px !important;
    right: 0px !important;
    z-index: 1000 !important;
    width: 50px;
    opacity: 0;   
  }

  #sidepanel div.wrap img{
    margin-top: 10px;
  }

  #sidepanel #contacts{
    margin-top: 40px ;
  }

  .rigthpanel ul li.contact{
      padding: 5px !important;
  }

  div.rigthpanel #contacts ul{
    margin-top: 0px !important;
  } 

  div.incidents-title p{
    padding: 10px !important;
    font-size: 100% !important;
  }
}

@media screen and (min-width: 1260px) {
  .rigthpanel {
    display: block;
    float: right !important;  
    min-width: 0px !important;
    width: 340px !important;
  }
    
  #frame .content {
    float: left;
    width: calc(100% - 680px);
  }
    
  div.barmenu{
   display: none
  }
}

div.barmenu{
  float: right;
  margin-right: 20px;
}

div.barmenu button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

div.rigthpanel #contacts ul{
  margin-top: 50px;
  transform: rotateY(180deg);
  margin-left: 10px;
} 

div.rigthpanel #contacts{
  width: 100%;
} 

div.rigthpanel #contacts ul li div.wrap{
  transform: rotateY(180deg);
}

/*div.rigthpanel #contacts ul li.contact{
  margin-bottom: 20px; 
}*/
div.rigthpanel #contacts ul p:first-child{
  margin-top: 0;
}
div.rigthpanel #contacts ul p{
  transform: rotateY(180deg);
  margin-bottom: 5px;
  margin-top: 30px;
}

div.incidents-title p{
  padding: 20px;
  font-size: 1.5em;
  margin-top: 30px;
}




